<template>
  <div class="courseContainer">
    <add-course-form @add="onCourseAdded"/>
    <course-table/>
  </div>
</template>

<script>
import CourseTable from "@/components/CourseTable";
import AddCourseForm from "@/components/AddCourseForm";

export default {
  name: "CourseView",
  components: {
    CourseTable,
    AddCourseForm
  },
  methods: {
    onCourseAdded(course) {
      this.courses.push(course)
    },
  },
  mounted() {
    this.$store.dispatch("loadCourses")
  },
  computed: {
    courses() {
      return this.$store.state.courses;
    },
  }
}
</script>

<style scoped>
.courseContainer {
  display: flex;
  justify-content: space-between;
  padding: 80px 50px;
}
</style>