<template>
  <div class="dashboardContainer">
    <div class="statCard"><img src="../assets/studentIMG.png" alt="student IMG"><div class="statsText">{{studentCount}}<br><span class="statsTextDesc">Students</span></div></div>
    <div class="statCard" id="trainerStatCard"><img src="../assets/trainerIMG.png" alt="trainer IMG"><div class="statsText">{{trainerCount}}<br><span class="statsTextDesc">Trainers</span></div></div>

  </div>

</template>

<script>

export default {
  name: "DashboardView",
  computed: {
    studentCount() {
      const num = this.$store.state.dashboardStats.studentCount;
      function addLeadingZeros(num) {
        return String(num).padStart(4, '0');
      }
      return addLeadingZeros(num);
    },
    trainerCount() {
      const num = this.$store.state.dashboardStats.trainerCount;
      function addLeadingZeros(num) {
        return String(num).padStart(4, '0');
      }
      return addLeadingZeros(num);
    },
  },
  props: {
    dashboardStats: {
      type: Object,
    }
  },
  mounted() {
    this.$store.dispatch("loadDashboardStats")
  },
};
</script>

<style scoped>
.dashboardContainer {
  padding: 80px 50px;
}

.statCard {
  background-color: #585858;
  color: #FC7A1E;
  border: #707070 solid 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  width: 450px;
  height: 140px;
  padding: 10px;
  display: flex;
}

.statsText {
  font-size: xx-large;
  margin-left: 30px;
}

.statsTextDesc {
  font-weight: bold;
}

#trainerStatCard {
  margin-top: 40px;
}

img {
  max-width: 40px;
  max-height: 40px;
}

</style>