<template>
  <div class="studentsContainer">
    <add-student-form @add="onStudentAdded"/>
    <student-table/>
  </div>
</template>

<script>
import StudentTable from "@/components/StudentTable";
import AddStudentForm from "@/components/AddStudentForm";

export default {
  name: 'StudentView',
  components: {
    StudentTable,
    AddStudentForm
  },
  methods: {
    onStudentAdded(student) {
      this.students.push(student)
    }
  },
  mounted() {
    this.$store.dispatch("loadStudents")
  },
  computed: {
    students() {
      return this.$store.state.students;
    },
  }
}
</script>

<style>
.studentsContainer {
  display: flex;
  justify-content: space-between;
  padding: 80px 50px;
}
</style>
