<template>
  <div class="trainersContainer">
    <add-trainer-form @add="onTrainerAdded"/>
    <trainer-table/>

  </div>
</template>

<script>
import TrainerTable from "@/components/TrainerTable";
import AddTrainerForm from "@/components/AddTrainerForm";

export default {
  name: 'TrainerView',
  components: {
    TrainerTable,
    AddTrainerForm
  },
  methods: {
    onTrainerAdded(trainer) {
      this.trainers.push(trainer)
    }
  },
  mounted() {
    this.$store.dispatch("loadTrainers")
  },
  computed: {
    trainers()  {
      return this.$store.state.trainers;
    }
  }
}

</script>

<style scoped>
.trainersContainer {
  display: flex;
  justify-content: space-between;
  padding: 80px 50px;
}

</style>
