<template>
  <div class="courseFormCard">
    <h4 class="courseFormCardHeading">new course</h4>
    <div class="courseAddForm">
      <form @submit.prevent="addCourse">
        <label>
          <p>course type:</p>
          <select v-model="courseType" required>
            <option value="" disabled selected hidden>select</option>
            <option value="SOFTWARE_DEVELOPMENT">software development</option>
            <option value="NETWORKING">networking</option>
            <option value="FIA">fia</option>
            <option value="Q_SOFTWARE_DEVELOPMENT">qualifying software development</option>
            <option value="Q_NETWORKING">qualifying networking</option>
            <option value="Q_FIA">qualifying fia</option>
          </select>
        </label>
        <label>
          <p>number:</p>
          <input type="text" placeholder ="number" v-model="number" required>
        </label>
        <label>
          <p>room:</p>
          <select v-model="room" required>
            <option v-for="room in rooms" :key="room.id" :value="room"> {{room.name}}</option>

          </select>
        </label>
        <br>
        <div class="buttonContainer">
          <button type="submit">add</button>
        </div>
      </form>
    </div>
  </div>

</template>

<script>
export default {
  name: "AddCourseForm",
  methods: {
    addCourse() {
      this.$store.dispatch('saveCourse', {
        courseType: this.courseType,
        number: this.number,
        room: this.room
      })
      this.courseType = ''
      this.number = ''
      this.room = ''
    },
  },
  data() {
    return {
      courseType: '',
      number: '',
      room: '',
    }
  },
  computed: {
    rooms() {
      return this.$store.state.availableRooms;
    },
  },
  mounted() {
    this.$store.dispatch("loadAvailableRooms")
  }
};
</script>

<style scoped>
.courseFormCard {
  background-color: #585858;
  width: 40vw;
  height: 70vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  border: #707070 solid 1px;
  padding: 20px;
  border-radius: 5px;
  color: #FC7A1E;
}

.courseFormCardHeading {
  margin: 0 0 40px 0;
  color: #FC7A1E;
  font-size: larger;
}

.courseAddForm p{
  color: #FC7A1E;
  margin-bottom: 10px;
}

button {
  background-color: #FC7A1E;
  border: 1px solid #707070;
  border-radius: 5px;
  text-align: center;
  width: 80px;
}

button:hover {
  background-color: #d5661a;
  font-weight: bold;
}

.buttonContainer {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16);
}

</style>