<template>
  <div class="studentFormCard">
    <h4 class="studentFormCardHeading">new student</h4>
    <div class="studentAddForm">
      <form @submit.prevent="addStudent">
        <label>
          <p>gender:</p>
          <input type="radio" value="MALE" v-model="gender">male
          <input type="radio" value="FEMALE" v-model="gender">female
          <input type="radio" value="DIVERS" v-model="gender">diverse
        </label>
        <label>
          <p>first name:</p>
          <input type="text" placeholder ="first name" v-model="firstName" required>
        </label>
        <label>
          <p>last name:</p>
          <input type="text" placeholder ="last name" v-model="lastName" required>
        </label>
        <label>
          <p>course type:</p>
          <select v-model="courseType" required>
            <option value="" disabled selected hidden>select</option>
            <option value="SOFTWARE_DEVELOPMENT">software development</option>
            <option value="NETWORKING">networking</option>
            <option value="FIA">fia</option>
            <option value="Q_SOFTWARE_DEVELOPMENT">q software development</option>
            <option value="Q_NETWORKING">q networking</option>
            <option value="Q_FIA">q fia</option>
          </select>
        </label>
        <label>
          <p>start date:</p>
          <input type="date" v-model="startDate" required>
        </label>
        <br>
        <div class="buttonContainer">
          <button type="submit">add</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddStudentForm",
  methods: {
    addStudent() {
      this.$store.dispatch('saveStudent', {
        firstName: this.firstName,
        lastName: this.lastName,
        gender: this.gender,
        courseType : this.courseType,
        startDate: this.startDate
      })
      this.firstName = ''
      this.lastName = ''
      this.gender = ''
      this.courseType = ''
      this.startDate = ''
    }
  },
  data() {
    return {
      firstName: '',
      lastName: '',
      gender: '',
      courseType: '',
      startDate: ''
    }
  }
}
</script>


<style scoped>
.studentFormCard {
  background-color: #585858;
  width: 40vw;
  height: 70vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  border: #707070 solid 1px;
  padding: 20px;
  border-radius: 5px;
  color: #FC7A1E;
}

.studentFormCardHeading {
  margin: 0 0 40px 0;
  color: #FC7A1E;
  font-size: larger;
}

.studentAddForm p{
  color: #FC7A1E;
  margin-bottom: 10px;
}

button {
  background-color: #FC7A1E;
  border: 1px solid #707070;
  border-radius: 5px;
  text-align: center;
  width: 80px;
}

button:hover {
  background-color: #d5661a;
  font-weight: bold;
}

.buttonContainer {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16);
}
</style>