<template>
  <div class="trainerFormCard">
    <h4 class="trainerFormCardHeading">new trainer</h4>
    <div class="trainerAddForm">
      <form @submit.prevent="addTrainer">
        <label>
          <p>gender:</p>
          <input type="radio" value="MALE" v-model="gender">male
          <input type="radio" value="FEMALE" v-model="gender">female
          <input type="radio" value="DIVERS" v-model="gender">diverse
        </label>
        <label>
          <p>first name:</p>
          <input type="text" placeholder="first name" v-model="firstName" required>
        </label>
        <label>
          <p>last name:</p>
          <input type="text" placeholder="last name" v-model="lastName" required>
        </label>
        <label>
          <p>residence:</p>
          <input type="text" placeholder="residence" v-model="residence" required>
        </label>
        <label>
          <p>gross salary (per month):</p>
          <input type="number" placeholder="gross salary" v-model="salaryGross" min="0" required>
        </label>
        <label>
          <p>teaching subject:</p>
          <select v-model="teachingSubject" required>
            <option value="" disabled selected hidden>select</option>
            <option value="LINUX">linux</option>
            <option value="WINDOWS">windows</option>
            <option value="WEB">web</option>
            <option value="JAVA">java</option>
            <option value="DATABASES">databases</option>
          </select>
        </label>
        <label>
          <p>self employed?</p>
          <div>
            <input v-model="selfEmployed" type="checkbox" id="selfEmployed" name="selfEmployed">
          </div>
        </label>
        <label v-if="selfEmployed">
          <p>available days:</p>
          <div>
            <input v-model="availableDays" type="checkbox" value="MONDAY">monday<br>
            <input v-model="availableDays" type="checkbox" value="TUESDAY">tuesday<br>
            <input v-model="availableDays" type="checkbox" value="WEDNESDAY">wednesday<br>
            <input v-model="availableDays" type="checkbox" value="THURSDAY">thursday<br>
            <input v-model="availableDays" type="checkbox" value="FRIDAY">friday
          </div>
        </label>
        <br>
        <div class="buttonContainer">
          <button type="submit">add</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddTrainerForm",
  methods: {
    addTrainer() {
      this.$store.dispatch('saveTrainer', {
        firstName: this.firstName,
        lastName: this.lastName,
        gender: this.gender,
        residence: this.residence,
        salaryGross: this.salaryGross,
        teachingSubject: this.teachingSubject,
        availableDays: this.availableDays,
        selfEmployed: this.selfEmployed
      })
      this.firstName = ''
      this.lastName = ''
      this.gender = ''
      this.salaryGross = ''
      this.residence = ''
      this.teachingSubject = ''
      this.availableDays = []
      this.selfEmployed = false
    }
  },
  data() {
    return {
      firstName: '',
      lastName: '',
      gender: '',
      residence: '',
      salaryGross: '',
      teachingSubject: '',
      availableDays: [],
      selfEmployed: false
    }
  }
}
</script>

<style scoped>
.trainerFormCard {
  background-color: #585858;
  width: 40vw;
  height: 70vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  border: #707070 solid 1px;
  padding: 20px;
  border-radius: 5px;
  color: #FC7A1E;
}

.trainerFormCardHeading {
  margin: 0 0 40px 0;
  color: #FC7A1E;
  font-size: larger;
}

.trainerAddForm p{
  color: #FC7A1E;
  margin-bottom: 10px;
}

button {
  background-color: #FC7A1E;
  border: 1px solid #707070;
  border-radius: 5px;
  text-align: center;
  width: 80px;
}

button:hover {
  background-color: #d5661a;
  font-weight: bold;
}

.buttonContainer {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16);
}

</style>