<template>
  <div class="courseTableCard">
    <div class="courseTableFixHead">
      <!--    display a table with courses if students exist-->
      <table class="courseTable" v-if="courses.length">
        <thead>
        <tr>
          <th>ID</th>
          <th>course<br>name</th>
          <th>room</th>
          <th>add students<br>add trainers</th>
          <th class="editDeleteHeader">delete</th>
        </tr>
        </thead>
        <tbody>
        <!--      get a row for each course-->
          <course-row v-for="(c, index) in courses" :key="index" :course="c" @displayDeleteModalEvent="displayDeleteModal(c)" @displayAddStudentsModalEvent="displayAddStudentsModal(c.id)" @displayAddTrainersModalEvent="displayAddTrainersModal(c.id)"/>
        </tbody>
      </table>
      <!--    notify empty course table-->
      <p class="emptyTableMessage" v-else>no courses added yet</p>
    </div>
    <DeleteModal v-if="deleteModal" :deleteMessage="deleteMessage" @closeModalEvent="closeDeleteModal" @confirmDeleteEvent="deleteConfirm"/>
    <CourseAddStudentsModal v-if="courseAddStudentsModal" :studentsToAdd='studentsToAdd' @closeAddStudentsModalEvent="closeAddStudentsModal" @addStudentsToCourseEvent="addStudentsToCourse"/>
    <CourseAddTrainersModal v-if="courseAddTrainersModal" @closeAddTrainersModalEvent="closeAddTrainersModal" @addTrainersToCourseEvent="addTrainersToCourse" />
  </div>

</template>

<script>
import CourseRow from "@/components/CourseRow";
import DeleteModal from "@/components/DeleteModal";
import CourseAddStudentsModal from "@/components/CourseAddStudentsModal";
import CourseAddTrainersModal from "@/components/CourseAddTrainersModal";
import axios from "axios";

export default {
  name: "CourseTable",
  components: {
    DeleteModal,
    CourseRow,
    CourseAddStudentsModal,
    CourseAddTrainersModal
  },
  data() {
    return {
      deleteModal: false,
      deleteCourse: {},
      courseAddStudentsModal: false,
      courseToAddStudentsId: {},
      studentsToAdd: [],
      courseAddTrainersModal: false,
      courseToAddTrainersId: {}
    }
  },
  methods: {
    displayDeleteModal(course) {
      this.deleteCourse = course;
      this.deleteModal = true;
    },
    closeDeleteModal() {
      this.deleteModal = false;
    },
    async deleteConfirm() {
      this.deleteModal = false;
      await this.$store.dispatch('deleteCourse', this.deleteCourse.id);
    },
    async displayAddStudentsModal(id) {
      const response = await axios.get("api/course/" + id)
      this.studentsToAdd = response.data
      this.courseToAddStudentsId = id;
      this.courseAddStudentsModal = true;
    },
    closeAddStudentsModal() {
      this.courseAddStudentsModal = false;
    },
    async addStudentsToCourse(studentIds) {
      this.courseAddStudentsModal = false;
      this.studentsToAdd = studentIds.studentIds;
      axios.post("api/course/" + this.courseToAddStudentsId, {"studentIds": this.studentsToAdd});
    },
    displayAddTrainersModal(id) {
      this.courseToAddTrainersId = id;
      this.courseAddTrainersModal = true;
    },
    closeAddTrainersModal() {
      this.courseAddTrainersModal = false;
    },
    addTrainersToCourse() {
      this.courseAddTrainersModal = false;
      console.log("cool");
    }

  },
  computed: {
    courses() {
      return this.$store.state.courses;
    },
    deleteMessage() {
      return "Do you really want to delete " + this.deleteCourse.courseName + "? <br/> This action can not be undone!";
    },
  }
}
</script>

<style scoped>
.courseTableCard {
  padding: 20px;
  background-color: #585858;
  width: 40vw;
  height: 70vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  text-align: center;
  border: #707070 solid 1px;
  border-radius: 5px;
}

.courseTableFixHead {
  overflow: auto;
  height: 65vh;
  border-bottom: 1px solid #707070;
}

.courseTableFixHead thead th {
  position: sticky;
  top: 0;
  color: #FC7A1E;
  background: #585858;
}

.editDeleteHeader {
  font-size: small;
}

tbody {
  border-top: 1px solid #707070;
}

.courseTable {
  border-collapse: collapse;
  width: 100%;
}

.emptyTableMessage {
  color: #FC7A1E;
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
}
</style>