<template>
  <div class="addTrainersContainer">
    <div class="addTrainersContent">
      <div class="addTrainersHeader">
        <h4>add trainers to course</h4>
      </div>

      <div class="addTrainersFooter">
        <div class="btnWrapper">
          <button class="confirmButton" @click="addTrainersToCourse">add</button>
          <button class="cancelButton" @click="closeModal">cancel</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "CourseAddTrainersModal",
  props: {

  },
  data() {
    return {

    }
  },
  methods: {
    closeModal() {
      this.$emit('closeAddTrainersModalEvent')
    },
    addTrainersToCourse() {
      this.$emit('addTrainersToCourseEvent')
    },
  },
}
</script>

<style scoped>
.addTrainersContainer {
  background-color: rgba(102, 102, 102, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.addTrainersHeader h4{
  margin-top: 0;
  color: #FC7A1E;
  font-size: larger;
}

.addTrainersContent {
  background: #333333;
  border: 1px solid #707070;
  color: #FC7A1E;
  border-radius: 5px;
  width: 30vw;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
}

.addTrainersFooter {
  text-align: center;
  margin-top: 30px;
}

button {
  width: 80px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #707070;
}

.confirmButton {
  background-color: #FC7A1E;
}

.confirmButton:hover {
  background-color: #d5661a;
  font-weight: bold;
}

.cancelButton {
  background-color: #585858;
  margin-left: 12px;
}

.cancelButton:hover {
  background-color: #424242;
  font-weight: bold;
}

</style>