<template>
  <div class="addStudentsContainer">
    <div class="addStudentsContent">
      <div class="addStudentsHeader">
        <h4>add students to course</h4>
      </div>
      <div class="TableFixHead">
        <table class="Table">
          <thead>
          <tr>
            <th>ID</th>
            <th>first<br>name</th>
            <th>last<br>name</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <!--        get a row for each student available-->
          <tr v-for="row in studentsToAdd" :key="row.id" :row="row">
            <td>{{ row.id }}</td>
            <td>{{ row.firstName }}</td>
            <td>{{ row.lastName }}</td>
            <td>
              <input type="checkbox" name="selectStudentToAdd" id="checkStudent" :value="row.id" v-model="studentIds">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="addStudentsFooter">
        <div class="btnWrapper">
          <button class="confirmButton" @click="addStudentsToCourse">add</button>
          <button class="cancelButton" @click="closeModal">cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "CourseAddStudentsModal",
  props: {
    studentsToAdd: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      studentIds: []
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeAddStudentsModalEvent')
    },
    addStudentsToCourse() {
      this.$emit('addStudentsToCourseEvent', {
        studentIds: this.studentIds
      })
    },
  },
}
</script>

<style scoped>
.addStudentsContainer {
  background-color: rgba(102, 102, 102, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.addStudentsHeader h4{
  margin-top: 0;
  color: #FC7A1E;
  font-size: larger;
}

.addStudentsContent {
  background: #333333;
  border: 1px solid #707070;
  color: #FC7A1E;
  border-radius: 5px;
  width: 30vw;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
}

.TableFixHead {
  overflow: auto;
  height: 30vh;
}

.TableFixHead thead th {
  position: sticky;
  top: 0;
  color: #FC7A1E;
  background: #585858;
}

tbody {
  border-top: 1px solid #707070;
}

.Table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  background-color: #999999;
  color: #333333;
  height: 40px;
}

tr:nth-child(even) {
  background-color: #666666;
  color: #BEBEBE;
}

.addStudentsFooter {
  text-align: center;
  margin-top: 30px;
}

button {
  width: 80px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #707070;
}

.confirmButton {
  background-color: #FC7A1E;
}

.confirmButton:hover {
  background-color: #d5661a;
  font-weight: bold;
}

.cancelButton {
  background-color: #585858;
  margin-left: 12px;
}

.cancelButton:hover {
  background-color: #424242;
  font-weight: bold;
}


</style>