<template>
  <tr>
    <td>{{course.id}}</td>
    <td>{{course.courseName}}</td>
    <td>{{course.room.number}}<br>{{course.room.name}}</td>
    <td>
      <img src="../assets/addStudentCourse.png" alt="add studentIMG" @click="displayAddStudentsModal(course.id)"> |
      <img src="../assets/addTrainerCourse.png" alt="add trainerIMG" @click="displayAddTrainersModal(course.id)">
    </td>
    <td class="rowActions">
      <img src="../assets/delete.png" class="deleteIMG" @click="displayDeleteModal(course)"/>
    </td>
  </tr>

</template>

<script>
export default {
  name: "CourseRow",
  methods: {
    displayDeleteModal(course) {
      this.$emit('displayDeleteModalEvent', course);
    },
    displayAddStudentsModal(id) {
      this.$emit('displayAddStudentsModalEvent', id);
    },
    displayAddTrainersModal(id) {
      this.$emit('displayAddTrainersModalEvent', id);
    },
  },
  props: {
    course: {
      type: Object,
      required: true
    }
  },
}
</script>

<style scoped>
tr {
  background-color: #999999;
  color: #333333;
  height: 40px;
}

tr:nth-child(even) {
  background-color: #666666;
  color: #BEBEBE;
}

img {
  cursor: pointer;
  display: inline-flex;
}
</style>