<template>
  <div class="modalDialogContainer">
    <div class="modalDialogContent">
      <div class="modalDialogHeader">
        <img src="../assets/warning.png" alt="warning">
<!--        input a custom message-->
        <h4 v-html="deleteMessage"></h4>
      </div>
      <div class="modalDialogFooter">
        <div class="btnWrapper">
          <button type="button" class="confirmButton" @click="confirmDelete">yes</button>
          <button type="button" class="cancelButton" @click="closeModal">cancel</button>
        </div>
      </div>
    </div>
  </div>


</template>

<script>
export default {
  name: "DeleteModal",
  props: {
    deleteMessage: {
      type: String,
      required: true
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeModalEvent');
    },
    confirmDelete() {
      this.$emit('confirmDeleteEvent');
    }
  }
}
</script>

<style scoped>
.modalDialogContainer {
  background-color: rgba(102, 102, 102, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.modalDialogContent {
  background: #333333;
  border: 1px solid #707070;
  border-radius: 5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
}

.modalDialogHeader {
  margin-top: 0;
  color: #FC7A1E;
}

.modalDialogFooter {
  text-align: center;
}

button {
  width: 80px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #707070;
}

.confirmButton {
  background-color: #585858;
}

.confirmButton:hover {
  background-color: #424242;
  font-weight: bold;
}

.cancelButton {
  background-color: #FC7A1E;
  font-weight: bolder;
  margin-left: 12px;
}

.cancelButton:hover {
  background-color: #d5661a;
  font-weight: bold;
}
</style>