<template>
<div class="studentTableCard">
  <div class="studentTableFixHead">
<!--    display a table with students if students exist-->
    <table class="studentTable" v-if="students.length">
      <thead>
        <tr>
          <th>first<br>name</th>
          <th>last<br>name</th>
          <th>gender</th>
          <th>course type</th>
          <th>start date</th>
          <th>enrolled</th>
          <th class="editDeleteHeader">edit<br>delete</th>
        </tr>
      </thead>
      <tbody>
<!--      get a row for each student-->
        <student-row v-for="(s, index) in students" :key="index" :student="s" @displayDeleteModalEvent="displayDeleteModal(s)" @displayEditModalEvent="displayEditModal(s)"/>
      </tbody>
    </table>
<!--    notify empty student table-->
    <p class="emptyTableMessage" v-else>no students added yet</p>
  </div>
  <DeleteModal v-if="deleteModal" :deleteMessage="deleteMessage" @closeModalEvent="closeDeleteModal" @confirmDeleteEvent="deleteConfirm"/>
  <StudentEditModal v-show="editModal" :student="editPerson" @closeEditModalEvent="closeEditModal" @confirmEditEvent="editConfirm" />
</div>
</template>

<script>
import StudentRow from "@/components/StudentRow";
import DeleteModal from "@/components/DeleteModal";
import StudentEditModal from "@/components/StudentEditModal";

export default {
  name: "StudentTable",
  components: {
    DeleteModal,
    StudentRow,
    StudentEditModal
  },
  data() {
    return {
      deleteModal: false,
      deletePerson: {},
      editModal: false,
      editPerson: {}
    }
  },
  methods: {
    displayDeleteModal(person) {
      this.deletePerson = person;
      this.deleteModal = true;
    },
    closeDeleteModal() {
      this.deleteModal = false;
    },
    async deleteConfirm() {
      this.deleteModal = false;
      await this.$store.dispatch('deleteStudent', this.deletePerson.id);
    },
    displayEditModal(person) {
      this.editPerson = person;
      this.editModal = true;
    },
    closeEditModal() {
      this.editModal = false;
    },
    async editConfirm(student) {
      this.editModal = false;
      await this.$store.dispatch('editStudent', student);
    },
  },
  computed: {
    students() {
      return this.$store.state.students;
    },
    deleteMessage() {
      return "Do you really want to delete " + this.deletePerson.firstName + " " + this.deletePerson.lastName + "? <br/> This action can not be undone!";
    }
  }
}
</script>

<style scoped>
.studentTableCard {
  padding: 20px;
  background-color: #585858;
  width: 40vw;
  height: 70vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  text-align: center;
  border: #707070 solid 1px;
  border-radius: 5px;
}

.studentTableFixHead {
  overflow: auto;
  height: 65vh;
  border-bottom: 1px solid #707070;
}

.studentTableFixHead thead th {
  position: sticky;
  top: 0;
  color: #FC7A1E;
  background: #585858;
}

.editDeleteHeader {
  font-size: small;
}

tbody {
  border-top: 1px solid #707070;
}

.studentTable {
  border-collapse: collapse;
  width: 100%;
}

.emptyTableMessage {
  color: #FC7A1E;
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
}
</style>