<template>
<div class="editModalContainer">
  <div class="editModalContent">
    <div class="editModalHeader">
      <h4>edit</h4>
    </div>
    <form>
      <label>
        <p>gender:</p>
        <input type="radio" value="MALE" v-model="gender">male
        <input type="radio" value="FEMALE" v-model="gender">female
        <input type="radio" value="DIVERS" v-model="gender">diverse
      </label>
      <label>
        <p>first name:</p>
        <input type="text" placeholder ="first name" v-model="firstName" required>
      </label>
      <label>
        <p>last name:</p>
        <input type="text" placeholder ="last name" v-model="lastName" required>
      </label>
      <label>
        <p>course type:</p>
        <select v-model="courseType" required>
          <option value="" disabled selected hidden>select</option>
          <option value="SOFTWARE_DEVELOPMENT">software development</option>
          <option value="NETWORKING">networking</option>
          <option value="FIA">fia</option>
          <option value="Q_SOFTWARE_DEVELOPMENT">q software development</option>
          <option value="Q_NETWORKING">q networking</option>
          <option value="Q_FIA">q fia</option>
        </select>
      </label>
      <label>
        <p>start date:</p>
        <input type="date" v-model="startDate" required>
      </label>
    </form>
    <div class="editModalFooter">
      <div class="btnWrapper">
        <button class="confirmButton" @click="confirmEdit">ok</button>
        <button class="cancelButton" @click="closeModal">cancel</button>
      </div>
    </div>
  </div>
</div>

</template>

<script>
export default {
  name: "StudentEditModal",
  data()  {
    return{
      firstName: '',
      lastName: '',
      gender: '',
      courseType: '',
      startDate: ''
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeEditModalEvent')
    },
    confirmEdit() {
      this.$emit('confirmEditEvent', {
        id: this.student.id,
        firstName: this.firstName,
        lastName: this.lastName,
        gender: this.gender,
        courseType: this.courseType,
        startDate: this.startDate
      })
    }
  },
  props: {
    student: {
      type: Object,
      required: true
    }
  },
  watch: {
    student() {
      this.firstName = this.student.firstName;
      this.lastName = this.student.lastName;
      this.gender = this.student.gender;
      this.courseType = this.student.courseType;
      this.startDate = this.student.startDate;
    },
  }
}
</script>

<style scoped>
.editModalContainer {
  background-color: rgba(102, 102, 102, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.editModalHeader h4{
  margin-top: 0;
  color: #FC7A1E;
  font-size: larger;
}

.editModalContent {
  background: #333333;
  border: 1px solid #707070;
  color: #FC7A1E;
  border-radius: 5px;
  width: 15vw;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
}

form label p{
  margin-bottom: 5px;
  font-size: medium;
}

.editModalFooter {
  text-align: center;
  margin-top: 30px;
}

button {
  width: 80px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #707070;
}

.confirmButton {
  background-color: #FC7A1E;
}

.confirmButton:hover {
  background-color: #d5661a;
  font-weight: bold;
}

.cancelButton {
  background-color: #585858;
  margin-left: 12px;
}

.cancelButton:hover {
  background-color: #424242;
  font-weight: bold;
}

</style>