<template>
    <tr>
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td style="width: 20px">{{gender}}</td>
      <td>{{courseType}}</td>
      <td>{{formattedStartDate}}</td>
      <td>
        <img src="../assets/enrolledTrue.png" alt="enrolled true img" v-if="student.enrolled">
        <img src="../assets/enrolledFalse.png" alt="enrolled false img" v-else>
      </td>
      <td class="rowActions">
        <img src="../assets/edit.png" class="editIMG" @click ="displayEditModal(student)"/>
        <img src="../assets/delete.png" class="deleteIMG" @click="displayDeleteModal(student)"/>
      </td>
    </tr>
</template>

<script>
export default {
  name: "StudentRow",
  methods: {
    displayDeleteModal(student) {
      this.$emit('displayDeleteModalEvent', student);
    },
    displayEditModal(student) {
      this.$emit('displayEditModalEvent', student);
    },
  },
  computed: {
    gender() {
      if (this.student.gender === "MALE") {
        return "m";
      } else if (this.student.gender === "FEMALE") {
        return "f";
      } else {
        return "d";
      }
    },
    courseType() {
      if (this.student.courseType === "SOFTWARE_DEVELOPMENT") {
        return "software development"
      } else if (this.student.courseType === "NETWORKING") {
        return "networking"
      } else if (this.student.courseType === "FIA") {
        return "fia"
      } else if (this.student.courseType === "Q_SOFTWARE_DEVELOPMENT") {
        return "q software development"
      } else if (this.student.courseType === "Q_NETWORKING") {
        return "q networking";
      } else {
        return "q fia"
      }
    },
    formattedStartDate() {
      const date = new Date(this.student.startDate);
      return date.toLocaleDateString()
    },

  },
  props: {
    student: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
tr {
  background-color: #999999;
  color: #333333;
  height: 40px;
}

tr:nth-child(even) {
  background-color: #666666;
  color: #BEBEBE;
}

.rowActions img {
  cursor: pointer;
  display: inline-flex;
}
</style>