<template>
  <tr>
    <td>{{trainer.firstName}}</td>
    <td>{{trainer.lastName}}</td>
    <td style="width: 20px">{{gender}}</td>
    <td>
      gross: {{trainer.salaryGross.toFixed(2)}}€
      <br>
      net: {{trainer.salaryNet.toFixed(2)}}€</td>
    <td>{{teachingSubject}}</td>
    <td>{{trainer.availableDays}}</td>
    <td class="rowActions">
      <img src="../assets/edit.png" class="editIMG" @click="displayEditModal(trainer)"/>
      <img src="../assets/delete.png" class="deleteIMG" @click="displayDeleteModal(trainer)"/>
    </td>
  </tr>
</template>

<script>
export default {
  name: "TrainerRow",
  components: {
  },
  methods: {
    displayDeleteModal(trainer) {
      this.$emit('displayDeleteModalEvent', trainer);
    },
    displayEditModal(trainer) {
      this.$emit('displayEditModalEvent', trainer)
    },
  },
  computed: {
    gender() {
      if (this.trainer.gender === "MALE") {
        return "m";
      } else if (this.trainer.gender === "FEMALE") {
        return "f";
      } else {
        return "d";
      }
    },
    teachingSubject() {
      if (this.trainer.teachingSubject === "LINUX") {
        return "linux";
      } else if (this.trainer.teachingSubject === "WINDOWS") {
        return "windows";
      } else if (this.trainer.teachingSubject === "WEB") {
        return "web";
      } else if (this.trainer.teachingSubject === "JAVA") {
        return "java";
      } else {
        return "databases";
      }
    },
  },
  props: {
    trainer: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
tr {
  background-color: #999999;
  color: #333333;
  height: 40px;
}

tr:nth-child(even) {
  background-color: #666666;
  color: #BEBEBE;
}

.rowActions img {
  cursor: pointer;
}
</style>