<template>
  <div class="trainerTableCard">
    <div class="trainerTableFixHead">
      <table class="trainerTable" v-if="trainers.length">
        <thead>
        <tr>
          <th>first<br>name</th>
          <th>last<br>name</th>
          <th>gender</th>
          <th>salary</th>
          <th>teaching<br>subject</th>
          <th>available<br>day(s)</th>
          <th class="editDeleteHeader">edit<br>delete</th>
        </tr>
        </thead>
        <tbody>
<!--        get a row for each trainer-->
          <trainer-row v-for="(t, index) in trainers" :key="index" :trainer="t" @displayDeleteModalEvent="displayDeleteModal(t)" @displayEditModalEvent="displayEditModal(t)" />
        </tbody>
      </table>
<!--      notify empty trainer table-->
      <p class="emptyTableMessage" v-else>no trainers added yet</p>
    </div>
    <DeleteModal v-if="deleteModal" :deleteMessage="deleteMessage" @closeModalEvent="closeDeleteModal" @confirmDeleteEvent="deleteConfirm"/>
    <TrainerEditModal v-show="editModal" :trainer="editPerson" @closeEditModalEvent="closeEditModal" @confirmEditEvent="editConfirm" />
  </div>

</template>

<script>
import TrainerRow from "@/components/TrainerRow";
import DeleteModal from "@/components/DeleteModal";
import TrainerEditModal from "@/components/TrainerEditModal";

export default {
  name: "TrainerTable",
  components: {
    DeleteModal,
    TrainerRow,
    TrainerEditModal
  },
  data () {
    return {
      deleteModal: false,
      deletePerson: {},
      editModal: false,
      editPerson: {}
    }
  },
  methods: {
    displayDeleteModal(person) {
      this.deletePerson = person;
      this.deleteModal = true;
    },
    closeDeleteModal() {
      this.deleteModal = false;
    },
    async deleteConfirm() {
      this.deleteModal = false;
      await this.$store.dispatch('deleteTrainer', this.deletePerson.id);
      await this.$store.dispatch('loadTrainers')
    },
    displayEditModal(person) {
      this.editPerson = person;
      this.editModal = true;
    },
    closeEditModal() {
      this.editModal = false;
    },
    async editConfirm(trainer) {
      this.editModal = false;
      await this.$store.dispatch('editTrainer', trainer)
      await this.$store.dispatch('loadTrainers')
    },
  },
  computed: {
    trainers() {
      return this.$store.state.trainers;
    },
    deleteMessage() {
      return "Do you really want to delete " + this.deletePerson.firstName + " " + this.deletePerson.lastName + "? <br/> This action can not be undone!";
    }
  }
}
</script>

<style scoped>
.trainerTableCard {
  padding: 20px;
  background-color: #585858;
  width: 40vw;
  height: 70vh;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
  text-align: center;
  border: #707070 solid 1px;
  border-radius: 5px;
}

.trainerTableFixHead {
  overflow: auto;
  height: 65vh;
  border-bottom: 1px solid #707070;
}

.trainerTableFixHead thead th {
  position: sticky;
  top: 0;
  color: #FC7A1E;
  background: #585858;
}

.editDeleteHeader {
  font-size: small;
}

tbody {
  border-top: 1px solid #707070;
}

.trainerTable {
  border-collapse: collapse;
  width: 100%;
}

.emptyTableMessage {
  color: #FC7A1E;
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
}
</style>