<template>
  <div class="editModalContainer">
    <div class="editModalContent">
      <div class="editModalHeader">
        <h4>edit</h4>
      </div>
      <form>
        <label>
          <p>gender:</p>
          <input type="radio" value="MALE" v-model="gender">male
          <input type="radio" value="FEMALE" v-model="gender">female
          <input type="radio" value="DIVERS" v-model="gender">diverse
        </label>
        <label>
          <p>first name:</p>
          <input type="text" placeholder="first name" v-model="firstName" required>
        </label>
        <label>
          <p>last name:</p>
          <input type="text" placeholder="last name" v-model="lastName" required>
        </label>
        <label>
          <p>residence:</p>
          <input type="text" placeholder="residence" v-model="residence" required>
        </label>
        <label>
          <p>salary:</p>
          <input type="number" placeholder="gross salary" v-model.number="salaryGross" min="0" required>
        </label>
        <label>
          <p>teaching subject:</p>
          <select v-model="teachingSubject" required>
            <option value="" disabled selected hidden>select</option>
            <option value="LINUX">linux</option>
            <option value="WINDOWS">windows</option>
            <option value="WEB">web</option>
            <option value="JAVA">java</option>
            <option value="DATABASES">databases</option>
          </select>
        </label>
        <label>
          <p>available days:</p>
          <div>
            <input v-model="availableDays" type="checkbox" value="MONDAY">monday<br>
            <input v-model="availableDays" type="checkbox" value="TUESDAY">tuesday<br>
            <input v-model="availableDays" type="checkbox" value="WEDNESDAY">wednesday<br>
            <input v-model="availableDays" type="checkbox" value="THURSDAY">thursday<br>
            <input v-model="availableDays" type="checkbox" value="FRIDAY">friday
          </div>
        </label>
      </form>
      <div class="editModalFooter">
        <div class="btnWrapper">
          <button class="confirmButton" @click="confirmEdit">ok</button>
          <button class="cancelButton" @click="closeModal">cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TrainerEditModal",
  data()  {
    return {
      firstName: '',
      lastName: '',
      gender: '',
      salaryGross: '',
      teachingSubject: '',
      residence: '',
      availableDays: ''
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeEditModalEvent')
    },
    async confirmEdit() {
      await this.$emit('confirmEditEvent', {
        id: this.trainer.id,
        firstName: this.firstName,
        lastName: this.lastName,
        gender: this.gender,
        salaryGross: this.salaryGross,
        teachingSubject: this.teachingSubject,
        residence: this.residence,
        availableDays: this.availableDays
      })
    },
  },
  props: {
    trainer:{
      type: Object,
      required: true
    }
  },
  watch: {
    trainer() {
      this.firstName = this.trainer.firstName;
      this.lastName = this.trainer.lastName;
      this.gender = this.trainer.gender;
      this.salaryGross = this.trainer.salaryGross;
      this.salaryNet = this.trainer.salaryNet;
      this.teachingSubject = this.trainer.teachingSubject;
      this.residence = this.trainer.residence;
      this.availableDays = this.trainer.availableDays;
    },
  }
}
</script>

<style scoped>
.editModalContainer {
  background-color: rgba(102, 102, 102, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.editModalHeader h4{
  margin-top: 0;
  color: #FC7A1E;
  font-size: larger;
}

.editModalContent {
  background: #333333;
  border: 1px solid #707070;
  color: #FC7A1E;
  border-radius: 5px;
  width: 15vw;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
}

form label p{
  margin-bottom: 5px;
  font-size: medium;
}

.editModalFooter {
  text-align: center;
  margin-top: 30px;
}

button {
  width: 80px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #707070;
}

.confirmButton {
  background-color: #FC7A1E;
}

.confirmButton:hover {
  background-color: #d5661a;
  font-weight: bold;
}

.cancelButton {
  background-color: #585858;
  margin-left: 12px;
}

.cancelButton:hover {
  background-color: #424242;
  font-weight: bold;
}

</style>