<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Trainer added: </h1>
<p th:text="'id: ' + ${trainerNewAttribute.id}" />
<p th:text="'First Name: ' + ${trainerNewAttribute.firstName}" />
<p th:text="'Last Name: ' + ${trainerNewAttribute.lastName}" />
<p th:text="'Net Salary: ' + ${trainerNewAttribute.salary}" />
<p th:text="'Teaching Subject: ' + ${trainerNewAttribute.teachingSubject}" />
<p th:text="'Available Days: ' + ${trainerNewAttribute.availableDays}" />
<a href="/addTrainer">Submit another trainer</a>
</body>
</html>
