<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add a new Trainer:</h1>
<form action="#" th:action="@{/addTrainer}" th:object="${trainerAttribute}" method="post">
    <p>First Name: <input type="text" th:field="*{firstName}" required/></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" required/></p>
    <p>Gross Salary (Net salary will be calculated): <input type="text" th:field="*{salary}" required/></p>
    <p>Teaching Subject:
        <select name="teachingSubject">
            <option th:each="subject : ${T(start.database.Subjects).values()}"
                    th:value="${subject}" th:text="${subject.displayValue}"></option>
        </select>
    </p>
    <p>
        <label>Available Days:
            <input type="checkbox" name="availableDays"
                   th:each="workDay : ${T(start.database.WorkDays).values()}"
                   th:text="${workDay.displayValue}"
                   th:value="${workDay.name()}"
            />
        </label>
    </p>

    <p><input type="submit" value="Submit" /><input type="reset" value="Reset" /> </p>
</form>

<h2>Trainer in Database: </h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Net Salary</th>
        <th>Teaching Subjects</th>
        <th>Available Days</th>
    </tr>
    <tr th:each="trainer : ${trainers}">
        <td th:text="${trainer.getFirstName() + ' ' + trainer.getLastName()}"></td>
        <td th:text="${trainer.getSalary()}"></td>
        <td th:text="${trainer.getTeachingSubject().displayValue}"></td>
        <td th:text="${trainer.getAvailableDays()}"></td>
    </tr>
</table>
</body>
</html>
