<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add a new Student:</h1>
<form action="#" th:action="@{/addStudent}" th:object="${studentAttribute}" method="post">
    <p>First Name: <input type="text" th:field="*{firstName}" /></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
    <p>Course Branch:
        <select name="courseType">
            <option th:each="courseType : ${T(start.database.CourseType).values()}"
                    th:value="${courseType}" th:text="${courseType.displayValue}"></option>
        </select>
    </p>
    <p><input type="submit" value="Submit" /><input type="reset" value="Reset" /> </p>
</form>

<h2>Students in Database: </h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Course</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.getFirstName() + ' ' + student.getLastName()}"></td>
        <td th:text="${student.getCourseType().displayValue}"></td>
    </tr>
</table>
</body>
</html>
