<template>
  <div id="app">
    <nav>
      <div class="navbarLinks">
        <router-link to="/"><img src="../public/dashboardIMG.png" alt="dashboard img"></router-link><div class="vl"></div>
        <router-link to="/students"><img src="../public/addStudentBtn.png" alt="add students img"></router-link><div class="vl"></div>
        <router-link to="/trainers"><img src="../public/addTrainerBtn.png" alt="add trainer img"></router-link><div class="vl"></div>
        <router-link to="/courses"><img src="../public/addCourseBtn.png" alt="add course img"></router-link>
      </div>
    </nav>
    <router-view/>
    <div class="tortuga">tortuga</div>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html, body {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background-color: #333333;
}

button {
  cursor: pointer;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #585858;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #707070;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navbarLinks {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.vl {
  border-left: 1px solid #707070;
  height: 65px;
}

.tortuga {
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-weight: bold;
  color: #FC7A1E;
}

</style>
